<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/defaultLayout">
      
	<head>
	    <meta charset="utf-8">
	    <title>Dashboard ::: AWS Analyzer</title>    
	</head>
		
	<th:block layout:fragment="customScript">
		<script src="/js/jquery/jquery.knob.min.js" th:src="'/js/jquery/jquery.knob.min.js?v=' + ${#dates.createNow().getTime()}"></script>
		<script th:inline="javascript">
		
			var template =  "<div class=\"col-lg-3 col-md-4 col-sm-6\">" +
							"	<div class=\"card card-stats\">" +
							"		<div class=\"card-header card-header-icon\">" +
							"			<div class=\"card-icon\" style=\"padding: 0px; background-color: #dadada; box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0,0,0,.4);\">" +
							"				<img src=\"{icon}\" width=\"80\" height=\"80\">" +
							"			</div>" +
							"			<p class=\"card-category\">{ServiceType}</p>" +
							"			<h3 class=\"card-title\">{StatisticsMessage}</h3>" +
							"       	<input class=\"knob\" data-width=\"50\" data-height=\"50\" data-angleOffset=-125 data-angleArc=250 data-rotation=anticlockwise data-fgColor=\"#42c32a\" data-thickness=\".3\" readonly value=\"{percent}\">" +
							"		</div>" +
							"		<div class=\"card-footer\" style=\"margin-top: 0px;\">" +
							"			<div class=\"stats\">" +
		                    "				<i class=\"material-icons text-success\">sentiment_very_satisfied</i>" +
		                    "				<a href=\"#pablo\">All resources are healthy.</a>" +
		                  	"			</div>" +
							"		</div>" +
							"	</div>" +
							"</div>";
						
			function callDashboard() {
				Utils.async("/api/statistics", (data) => {
					data = data.sort((a, b)=>{ return a.serviceCategory < b.serviceCategory ? -1 : a.serviceCategory > b.serviceCategory ? 1 : 0});
					var serviceCategory = "";
					data.forEach((data) => {
						
						var content = template;
						
						if(serviceCategory != data.serviceCategory) {
							$("#statisticsRow").append(
									"<div class=\"row\"><div class=\"col\"><strong>" + data.serviceCategory + "</strong></div></div><div class=\"row\" id=\"statistics_" + data.serviceCategory + "\"></div>"
							);
							serviceCategory = data.serviceCategory;
						}
						
						content = content.replace("{icon}", data.icon);
						content = content.replace("{ServiceType}", data.serviceDisplayName);
						content = content.replace("{StatisticsMessage}", (data.serviceActive == data.serviceTotal ? data.serviceTotal + "ea" : data.serviceActive + "ea/" + data.serviceTotal + "ea"));
						content = content.replace("{percent}", data.serviceTotal == 0 ? 0 : Math.round((data.serviceActive/data.serviceTotal)*100))
						$("#statistics_" + serviceCategory).append(content);
						$(".knob").knob({
							format : function (value) {
			                	return value + '%';
			                }
						});
					});
				});
			}
			
			window.onload = function() {
				if([[${session.serviceRepository == null}]]) {		
						collectServiceData(false, function() {
							callDashboard();
						});
				} else {
					callDashboard();
				}
			};
		</script>
	</th:block>
	
	<body>
		
		<div layout:fragment="content">
			<div class="container-fluid" id="statisticsRow"></div>
		</div>
	
	</body>
</html>