<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
	<th:block th:fragment="headerFragment">
	
		<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
			<div class="container-fluid">
				<div class="navbar-wrapper">
					<a class="navbar-brand" href="/dashboard">AWS Analyzer</a>
				</div>
				<button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
					<span class="sr-only">Toggle navigation</span>
					<span class="navbar-toggler-icon icon-bar"></span>
					<span class="navbar-toggler-icon icon-bar"></span>
					<span class="navbar-toggler-icon icon-bar"></span>
				</button>
				<div class="collapse navbar-collapse justify-content-end">
					<ul class="navbar-nav">
					<th:block th:if="${session.profile.isSelected()}">
						<li class="nav-item">
							<a class="nav-link" href="/diagram/organization">
								<i class="material-icons">account_tree</i> Organization analysis
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/diagram/network">
								<i class="material-icons">account_tree</i> Network analysis
							</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="material-icons">cloud</i>
								<span th:text="${session.profile.getProfileName()}">Select Region</span>
								<p class="d-lg-none d-md-block" th:text="${session.profile.getProfileName()}">Select Region</p>
							</a>
							<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
								<th:block th:each="profiles : ${session.profile.getProfiles()}">
								<a class="dropdown-item" th:if="${session.profile.getProfileName() != profiles.key}" th:href="'/profiles/set/profile' + ${profiles.key}" th:text="${profiles.key}">Action</a>
								</th:block>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="material-icons">public</i>
								<span th:text="${session.profile.getRegionId()}">Select Region</span>
								<p class="d-lg-none d-md-block" th:text="${session.profile.getRegionId()}">Select Region</p>
							</a>
							<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
								<th:block th:each="region : ${T(com.anthunt.aws.network.session.SessionProvider).REGIONS}">
								<a class="dropdown-item" th:if="${session.profile.getRegionId() != region.id()}" th:href="'/profiles/set/region' + ${region.id()}" th:text="${region.id()}">Action</a>
								</th:block>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link" href="#" id="navbarDropdownSyncLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="material-icons">sync</i>
								<p class="d-lg-none d-md-block">Services sync</p>
							</a>
							<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownSyncLink">
								<a class="dropdown-item" href="#" onclick="javascript: collectServiceData('EC2');">EC2 sync</a>
								<a class="dropdown-item" href="#" onclick="javascript: collectServiceData('ELB');">ELB sync</a>
								<a class="dropdown-item" href="#" onclick="javascript: collectServiceData('RDS');">RDS sync</a>
								<a class="dropdown-item" href="#" onclick="javascript: collectServiceData('DX');">DX sync</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#" onclick="javascript: collectServiceData();">All services sync</a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="material-icons">notifications</i>
								<span class="notification">5</span>
								<p class="d-lg-none d-md-block">Some Actions</p>
							</a>
							<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" href="#">Mike John responded to your email</a>
								<a class="dropdown-item" href="#">You have 5 new tasks</a>
								<a class="dropdown-item" href="#">You're now friend with Andrew</a>
								<a class="dropdown-item" href="#">Another Notification</a>
								<a class="dropdown-item" href="#">Another One</a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link" href="#" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="material-icons">person</i>
								<p class="d-lg-none d-md-block">Account</p>
							</a>
							<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
								<a class="dropdown-item" href="/profiles">AWS Profiles</a>
								<a class="dropdown-item" href="#">Settings</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="/logout">Log out</a>
							</div>
						</li>
					</th:block>
					</ul>
				</div>
			</div>
		</nav>
		
	</th:block>
	
</html>