<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<head>
		<meta charset="utf-8"/>
	    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	    <title layout:fragment="title">AWS Analyzer</title>
	    <meta name="description" content=""/>
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>

		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
		<link rel="stylesheet" type="text/css" href="/js/bootstrap/bootstrap.min.css" th:href="'/js/bootstrap/bootstrap.min.css?v=' + ${#dates.createNow().getTime()}"/>
		<link rel="stylesheet" type="text/css" href="/css/material-dashboard.min.css" th:href="'/css/material-dashboard.min.css?v=' + ${#dates.createNow().getTime()}"/>
		<link rel="stylesheet" type="text/css" href="/js/font-awesome-4.0.3/css/font-awesome.css" th:href="'/js/font-awesome-4.0.3/css/font-awesome.css?v=' + ${#dates.createNow().getTime()}"/>
		<link rel="stylesheet" type="text/css" href="/css/style.css" th:href="'/css/style.css?v=' + ${#dates.createNow().getTime()}">
				
	</head>
      
	<body>
		<div class="wrapper">
			<div class="main-panel ps-container ps-theme-default" data-ps-id="88875e3a-154c-f5f6-a447-fe6e3d51c774" style="height: 100%;">
	      		<form method="post" action="/login" style="
				    width: 300px;
				    height: 300px;
				    position: absolute;
				    left: 50%;
				    top: 50%;
				    transform: translate(-50%, -50%);
				">
					<h2 style="margin-bottom: 35px;">AWS Analyzer</h2>
					<div class="form-group">
					    <label for="userNameInput">UserName</label>
					    <input type="text" class="form-control" id="userNameInput" name="username" placeholder="Enter username ex) user@user.com">
				  	</div>
				  	<div class="form-group">
				    	<label for="passwordInput">Password</label>
				    	<input type="password" class="form-control" id="passwordInput" name="password" placeholder="Enter password">
				  	</div>
				    <div class="form-group" style="
				    	text-align: center;
					">
				    	<button type="submit" class="btn btn-primary">Sign in</button>
				  	</div>
				</form>
			</div>
		</div>	
	</body>
		
<!-- JavaScript -->		
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/js/jquery/jquery-3.3.1.slim.min.js" th:src="'/js/jquery/jquery-3.3.1.slim.min.js?v=' + ${#dates.createNow().getTime()}"></script>
<script src="/js/popper/popper.min.js" th:src="'/js/popper/popper.min.js?v=' + ${#dates.createNow().getTime()}"></script>
<script src="/js/bootstrap/bootstrap.min.js" th:src="'/js/bootstrap/bootstrap.min.js?v=' + ${#dates.createNow().getTime()}"></script>

</html>