<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/defaultLayout">
      
	<head>
	    <meta charset="utf-8">
	    <title>Set Profile ::: AWS Analyzer</title>    
	</head>
	
	<th:block layout:fragment="customCss">
		<style type="text/css" media="screen">
		    #credentialsEditor, #configEditor { 
		        width: 100%;
		        height: 500px;
		    }
		</style>
	</th:block>

	<th:block layout:fragment="customScript">
		<script src="https://pagecdn.io/lib/ace/1.4.6/ace.js" integrity="sha256-CVkji/u32aj2TeC+D13f7scFSIfphw2pmu4LaKWMSY8=" crossorigin="anonymous"></script>
		<script>
		    var credentialsEditor = ace.edit("credentialsEditor");
		    credentialsEditor.setTheme("ace/theme/monokai");
		    credentialsEditor.session.setMode("ace/mode/properties");
		    
		    var configEditor = ace.edit("configEditor");
		    configEditor.setTheme("ace/theme/monokai");
		    configEditor.session.setMode("ace/mode/properties");
		    
		    $("#BtnSaveProfiles").click(function() {
		    	fetch("/api/profiles/edit", {
		    		method: "POST",
		    		headers: {
		                "Content-Type": "application/json; charset=utf-8"
		            },
		            credentials: "same-origin",
		    		body: JSON.stringify({
		    			credentials: credentialsEditor.getValue()
		    			, config: configEditor.getValue()
		    		})
		    	}).then(e=>e.json()).then(function(data) {
		    		if(data.success) {
		    			Utils.alert('success', "saved profiles successfully");
		    		} else {
		    			Utils.alert('danger', data.message);
		    		}
		    	});
		    });
		</script>
	</th:block>
	
	<body>
		
		<div layout:fragment="content">
			<div class="container-fluid">
				<a href="/profiles"><i class="material-icons">keyboard_backspace</i> Back</a>
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-12">
						<h3>Edit credentials file</h3>
						<div id="credentialsEditor" th:text="${profiles.getCredentialsDecrypt()}"></div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12">
						<h3>Edit config file</h3>
						<div id="configEditor" th:text="${profiles.getConfigDecrypt()}"></div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<button type="button" id="BtnSaveProfiles" class="btn btn-primary">Apply</button>
					</div>
				</div>
			</div>
		</div>
	
	</body>
</html>